.body {
  align-content: center;
}
.outer_container {
  margin: auto;
  width: 500px;
  background-color: beige;
}
.button {
  background-color: rgb(81, 159, 211);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: none;
  margin: 5px;
  display: block;
}
.inner_container {
  border-style: none;
  padding: 5px;
  margin: 5px;
  background-color: rgb(162, 191, 211);
  border-radius: 5px;
  min-width: 200px;
}
.edit_event_container {
  margin: auto;
  border-radius: 5px;
  background-color: beige;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.event_container {
  background-color: rgb(210, 213, 214);
  margin: 5px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}
.sesami_event_container {
  background-color: rgb(146, 180, 202);
  margin: 5px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}
.event_title {
  font-size: 16px;
}
.event_date {
  font-size: 12px;
}
.event_description {
  font-size: 12px;
}
.input_description {
  width: 300px;
  height: 200px;
  overflow: wrap;
}
